<!DOCTYPE html>
<html>

<head>
    <title>
        Welcome!
    </title>
    <link rel="stylesheet" href="/stylesheets/homepage.css">
</head>

<body>
    <h2><span>Welcome!</span></h2>
    <div class="container">
        <div class="item">
            <% story.forEach(function(story){%>
            <div class="item-info">
                <label for="title"><%= story.title%></label><br>
                <label for="auther"><%= story.auther%></label><br>
                <label for="date"><%= story.date%></label><br>
                <label for="intro"><%= story.intro%></label><br>
            </div>
            <a href="/index">
                <img class="img" src="/images/cathedral.jpg">
            </a>
            <div style="clear: both;"></div>
            <% }); %>
        </div>

        <div style="clear: both;"></div>
    </div>
</body>

</html>