<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="/stylesheets/homepage.css">
</head>

<body>
    <h2><span><%=title%></span></h2>
    <div class="container">
        <form class="item">
            <div class="item-info">
                <label for="title">Image Title</label><br>
                <label for="auther">Xiao Ming</label><br>
                <label for="date">01/01/2022</label><br>
                <label for="intro">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, iusto? Voluptate, rem commodi? Veniam odit officiis asperiores earum odio aperiam quis quaerat cupiditate, laudantium quas, commodi accusamus perferendis enim eveniet excepturi! Minima ut alias deserunt sapiente tenetur vero culpa, impedit sit ab veritatis! Sed atque laudantium ipsa, voluptate cupiditate quibusdam!</label><br>
            </div>
            <a href="/index">
                <img class="img" src="/images/cathedral.jpg">
            </a>
            <div style="clear: both;"></div>
        </form>

        <div style="clear: both;"></div>
    </div>
</body>

</html>