<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="/stylesheets/upload_img.css">
    <script type="text/javascript" src="/javascripts/uploadimg.js"></script>

</head>

<body>
    <div class="container">
        <h2><span><%=title%></span></h2>
        <a>Photo Title：<input class="info" type="text" /></a>
        <br>
        <a>Your Name：<input class="info" type="text" /></a>
        <br>
        <a>Introduction：<input class="info" type="text" /></a>
        <br>
        <form action="">
            <div id="uploadbtn">Upload Image</div>
            <input type="file" name="imgOne" id="imgOne" onchange="preImg(this.id,'photo');" />
            <img id="photo" src="" />
            <button id="submitbtn" type="button">
                <a id="submit" href="/homepage">Submit</a>
            </button>
        </form>
    </div>
</body>

</html>