<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="/stylesheets/upload_img.css">
    <script type="text/javascript" src="/javascripts/uploadimg.js"></script>

</head>

<body>
    <form class="container">
        <h2><span><%=title%></span></h2>
        <p>Photo Title：<input class="info" name="title" id="title" type="text" /></p>
        <br>
        <p>Your Name：<input class="info" name="auther" id="name" type="text" /></p>
        <br>
        <p>Introduction：<input class="info" name="intro" id="intro" type="text" /></p>
        <br>
        <!-- <div class="img">
            <div id="uploadbtn">Upload Image</div>
            <input type="file" name="imgOne" id="imgOne" onchange="preImg(this.id,'photo');" />
            <img id="photo" src="" />
            <button id="submitbtn" onclick="uploadreport()" type="submit">
                <a id="submit" href="/homepage">Submit</a>
            </button>
        </div> -->
        <input type="submit" name="submit" id="submitbtn">
    </form>
</body>

</html>