<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>
        Upload Your Image
    </title>
    <link rel="stylesheet" href="/stylesheets/upload_img.css">
    <script type="text/javascript" src="/javascripts/uploadimg.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/canvas.js"></script>
    <script src="/javascripts/database.js" type="module"></script>
    <script src="/javascripts/idb/index.js" type="module"></script>
    <script src="/javascripts/jquery.min.js"></script>

</head>

<body>
    <form id="xForm" class="container" method="POST" action="/uploadimg" enctype="multipart/form-data">
        <h2><span>Upload Your Image</span></h2>
        <p>Photo Title: <input class="info" name="title" id="title" type="text" /></p>
        <br>
        <p>Your Name: <input class="info" name="author" id="author" type="text" /></p>
        <br>
        <p>Introduction: <input class="info" name="intro" id="intro" type="text" /></p>
        <br>
        <p>Your Photo: 
            <div id="photo_area">
                <input class="" name="photo" id="photo" type="file" onchange="preImg(this.id,'photo_show'),uploadindex();" required />
                <img id="photo_show"/>
            </div>
        </p>
        <br>
        <p><input id="submitbtn" name="submitbtn" value="Submit" type="submit" /></p>
    </form>
</body>

</html>