<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="/stylesheets/upload_img.css">
    <script type="text/javascript" src="/javascripts/uploadimg.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
    </script>

</head>

<body>
    <div class="container">
        <h2><span><%=title%></span></h2>
        <a>Photo Title：<input class="info" id="title" type="text" /></a>
        <br>
        <a>Your Name：<input class="info" id="name" type="text" /></a>
        <br>
        <a>Introduction：<input class="info" id="intro" type="text" /></a>
        <br>
        <form action="report">
            <div id="uploadbtn">Upload Image</div>
            <input type="file" name="imgOne" id="imgOne" onchange="preImg(this.id,'photo');" />
            <img id="photo" src="" />
            <button id="submitbtn" onclick="uploadreport()" type="button">
                <a id="submit" >Submit</a>
                <! --href="/homepage"-->
            </button>
        </form>
    </div>
</body>

</html>